setuptools==59.5.0
numpy==1.24.3
scipy==1.9.2
black
pandas
matplotlib
open3d==0.15.2
catkin_pkg
pybullet==2.7.9
torch==1.13.0
pytorch-ignite
tensorboard
tqdm
trimesh
urdfpy
cython
scikit-image
pykdtree
pyglet==1.5.15
rospkg
opencv-python
PyOpenGL_accelerate
